$mainColor: #ed1e67;
$textColor: #191919;
$vkColor: #6a96c7;
$fbColor: #1e5a99;
$instaColor: #548ab6;
$greenBgColor: #31683c;
$yellowBgColor: #f1e6c8;
$yellowDarkBgColor: #decea3;
$grayBgColor: #f3f3f3;
